{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
    Update Grade
{% endblock %}

{% block content_head %}
    <!--Title Block-->
    <div class="row mt-2">
        <div class="col-md-8 col-lg-10">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <!--End Title Block-->
{% endblock %}

{% block content_body %}
    {% bootstrap_messages %}
    <form class="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success btn-lg">
                Save
            </button>
        {% endbuttons %}
    </form>
{% endblock %}