{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
     My Tests
{% endblock %}

{% block content_head %}
<!--Title Block-->
<div class="row mt-2">
    <div class="col-md-6 col-lg-6">
        <h1>{{ title }}</h1>
    </div>
</div>
<!--End Title Block-->
{% endblock %}

{% block content_body %}
    <!--Table Block-->
    <div class="row">
        <div class="col">
            {% if tests %}
                <h1>{{user.student.Student_First_Name}} {{user.student.Student_Last_Name}}</h1>
                {% for x in subjects %}
                    {% if x.Subject_Grade.id == user.student.Student_Grade.id %}
                        <h2>{{x}}</h2>
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Test</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for y in tests %}
                                {% if y.Test_Subject == x %}
                                    <tr>
                                        <td>{{y.Test_Name}}</td>
                                        <td><a href="/media/{{y.Test_File}}" download={{y.Test_File}}>{{y.Test_File}}</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            
            <hr>
            {% else %}
                <p>No results</p>
            {% endif %}
        </div>
    </div>
    <!--End Table Block-->
{% endblock %}
