{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
     My Test Scores
{% endblock %}

{% block content_head %}
<!--Title Block-->
<div class="row mt-2">
    <div class="col-md-6 col-lg-6">
        <h1>{{ title }}</h1>
    </div>
</div>
<!--End Title Block-->
{% endblock %}

{% block content_body %}
    <!--Table Block-->
    <div class="row">
        <div class="col">
            {% if testscores %}
                <h1>{{user.student.Student_First_Name}} {{user.student.Student_Last_Name}}</h1>
                {% for x in subjects %}
                    {% if x.Subject_Grade.id == user.student.Student_Grade.id %}
                        <h2>{{x}}</h2>
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Test</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for y in testscores %}
                                {% if y.TestScore_Student == user.student %}
                                    {% if y.TestScore_Test.Test_Subject == x %}
                                        <tr>
                                            <td>{{y.TestScore_Test}}</td>
                                            <td>{{y.TestScore_Score}}</a></td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            
            <hr>
            {% else %}
                <p>No results</p>
            {% endif %}
        </div>
    </div>
    <!--End Table Block-->
{% endblock %}
