{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
    Student List
{% endblock %}

{% block extra_css %}
    <style>
        .color_update{
            color: goldenrod;
            font-size: 22px;
        }
        .color_delete{
            color: red;
            font-size: 22px;
        }
    </style>
{% endblock %}

{% block content_head %}
<!--Title Block-->
<div class="row mt-2">
    <div class="col-md-6 col-lg-6">
        <h1>{{ title }}</h1>
    </div>
    <div class="col-md-4 col-lg-4">
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'clasrum:student_list' %}">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    {% if user.is_superuser %}
    <div class="col-md-2 col-lg-2">
        <a href="{% url 'clasrum:student_create' %}" class="btn btn-success btn-block mt-2">
            <i class="fas fa-user-plus"></i> | Create Student
        </a>
    </div>
    {% endif %}
</div>
<!--End Title Block-->
{% endblock %}

{% block content_body %}
    <!--Table Block-->
    <div class="row">
        <div class="col">
            {% if students %}
                {% for x in grades %}
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <h2>{{x.Grade_Name}}</h2>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Rut</th>
                                <th>Date</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for y in students %}
                                {% if x.Grade_Name == y.Student_Grade.Grade_Name %}
                                    <tr>
                                        <td><img src="/media/{{y.Student_Photo}} " alt="Student Photo" id="logo" width="75" height="60"></td>
                                        <td>{{y.Student_First_Name}} {{y.Student_Last_Name}}</td>
                                        <td>{{y.Student_Rut}}</td>
                                        <td>{{y.Student_Date}}</td>
                                        <td>{{y.Student_Email}}</td>
                                        <td>
                                            {% if user.is_superuser or user.teacher.grade.Grade_Name == x.Grade_Name %}
                                            <a href="{% url 'clasrum:student_update' x.id %}">
                                                <i class="fas fa-edit color_update"></i>
                                            </a>
                                            {% endif %} | 
                                            {% if user.is_superuser %}
                                            <a href="{% url 'clasrum:student_delete' x.id %}">
                                                <i class="fas fa-trash-alt color_delete"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            
            <hr>

            <nav aria-label="Page navigation example">
                {% if students.has_other_pages %}
                    <ul class="pagination">

                        {% if students.has_previous %}
                            <li class="page-item"><a href="?q={{query}}&page={{ students.previous_page_number }}" class="page-link">&laquo;</a></li>
                        {% else %}
                            <li class="page-item" class="disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}

                        {% for i in students.paginator.page_range %}
                            {% if students.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?q={{query}}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}

                        {% endfor %}
                        {% if students.has_next %}
                            <li class="page-item"><a href="?q={{query}}&page={{ students.next_page_number }}" class="page-link">&raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>
            {% else %}
                <p>No results</p>
            {% endif %}
        </div>
    </div>
    <!--End Table Block-->
{% endblock %}
