{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
    Subject List
{% endblock %}

{% block extra_css %}
    <style>
        .color_edit{
            color: #1B998B;
            font-size: 22px;
        }
        .color_pw{
            color: #2DA9D4;
            font-size: 22px;
        }
        .color_update{
            color: goldenrod;
            font-size: 22px;
        }
        .color_delete{
            color: red;
            font-size: 22px;
        }
    </style>
{% endblock %}

{% block search %}
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'clasrum:subject_list' %}">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
{% endblock %}

{% block content_head %}
<!--Title Block-->
<div class="row mt-2">
    <div class="col-md-6 col-lg-6">
        <h1>{{ title }}</h1>
    </div>
    <div class="col-md-4 col-lg-4">
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'clasrum:subject_list' %}">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    {% if user.is_superuser %}
    <div class="col-md-2 col-lg-2">
        <a href="{% url 'clasrum:subject_create' %}" class="btn btn-success btn-block mt-2">
            <i class="fas fa-user-plus"></i> | Create Subject
        </a>
    </div>
    {% endif %}
</div>
<!--End Title Block-->
{% endblock %}

{% block content_body %}
    <!--Table Block-->
    <div class="row">
        <div class="col">
            {% if subjects %}
                {% for x in grades %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <h2>{{x.Grade_Name}}</h2>
                            <tr>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for y in subjects %}
                                {% if x.Grade_Name == y.Subject_Grade.Grade_Name %}
                                    <tr>
                                        <td>{{y.Subject_Type}}</td>
                                        <td>
                                            {% if user.is_superuser or user.teacher.grade.Grade_Name == x.Grade_Name %}
                                            <a href="{% url 'clasrum:subject_update' y.id %}">
                                                <i class="fas fa-edit color_update"></i>
                                            </a>
                                            {% endif %} | 
                                            {% if user.is_superuser %}
                                            <a href="{% url 'clasrum:subject_delete' y.id %}">
                                                <i class="fas fa-trash-alt color_delete"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            
            <hr>
            {% else %}
                <p>No Results</p>
            {% endif %}
        </div>
    </div>
    <!--End Table Block-->
{% endblock %}
