{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
    Teacher List
{% endblock %}

{% block extra_css %}
    <style>
        .color_edit{
            color: #1B998B;
            font-size: 22px;
        }
        .color_pw{
            color: #2DA9D4;
            font-size: 22px;
        }
        .color_update{
            color: goldenrod;
            font-size: 22px;
        }
        .color_delete{
            color: red;
            font-size: 22px;
        }
    </style>
{% endblock %}

{% block search %}
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'clasrum:teacher_list' %}">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
{% endblock %}

{% block content_head %}
<!--Title Block-->
<div class="row mt-2">
    <div class="col-md-6 col-lg-6">
        <h1>{{ title }}</h1>
    </div>
    <div class="col-md-4 col-lg-4">
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'clasrum:teacher_list' %}">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    {% if user.is_superuser %}
    <div class="col-md-2 col-lg-2">
        <a href="{% url 'clasrum:teacher_create' %}" class="btn btn-success btn-block mt-2"><i class="fas fa-user-plus"></i> | Create Teacher</a>
    </div>
    {% endif %}
</div>
<!--End Title Block-->
{% endblock %}

{% block content_body %}
    <!--Table Block-->
    <div class="row">
        <div class="col">
            {% if teachers %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Photo</th>
                            <th>Grade</th>
                            <th>Name</th>
                            <th>Rut</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in teachers %}
                            <tr>
                                <td><img src="/media/{{x.Teacher_Photo}} " alt="Teacher Photo" id="logo" width="75" height="60"></td>
                                <td>{{x.grade.Grade_Name}}</td>
                                <td>{{x.Teacher_First_Name}} {{x.Teacher_Last_Name}}</td>
                                <td>{{x.Teacher_Rut}}</td>
                                <td>{{x.Teacher_Email}}</td>
                                <td>
                                    {% if user.is_superuser or user.teacher.grade.Grade_Name == x.Teacher_Grade %}
                                    <a href="{% url 'clasrum:teacher_update' x.id %}">
                                        <i class="fas fa-edit color_update"></i>
                                    </a>
                                    {% endif %} | 
                                    {% if user.is_superuser %}
                                    <a href="{% url 'clasrum:teacher_delete' x.id %}">
                                        <i class="fas fa-trash-alt color_delete"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <hr>

            <nav aria-label="Page navigation example">
                {% if teachers.has_other_pages %}
                    <ul class="pagination">

                        {% if teachers.has_previous %}
                            <li class="page-item"><a href="?q={{query}}&page={{ teachers.previous_page_number }}" class="page-link">&laquo;</a></li>
                        {% else %}
                            <li class="page-item" class="disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}

                        {% for i in teachers.paginator.page_range %}
                            {% if teachers.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?q={{query}}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}

                        {% endfor %}
                        {% if teachers.has_next %}
                            <li class="page-item"><a href="?q={{query}}&page={{ teachers.next_page_number }}" class="page-link">&raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>
            {% else %}
                <p>No Results</p>
            {% endif %}
        </div>
    </div>
    <!--End Table Block-->
{% endblock %}

