{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
    Test List
{% endblock %}

{% block extra_css %}
    <style>
        .color_update{
            color: goldenrod;
            font-size: 22px;
        }
        .color_delete{
            color: red;
            font-size: 22px;
        }
    </style>
{% endblock %}

{% block content_head %}
<!--Title Block-->
<div class="row mt-2">
    <div class="col-md-6 col-lg-6">
        <h1>{{ title }}</h1>
    </div>
    <div class="col-md-4 col-lg-4">
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'clasrum:test_list' %}">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    {% if user.teacher or user.is_superuser %}
    <div class="col-md-2 col-lg-2">
        <a href="{% url 'clasrum:test_create' %}" class="btn btn-success btn-block mt-2">
            <i class="fas fa-user-plus"></i> | Create Test
        </a>
    </div>
    {% endif %}
</div>
<!--End Title Block-->
{% endblock %}

{% block content_body %}
    <!--Table Block-->
    <div class="row">
        <div class="col">
            {% if tests %}
                {% for x in grades %}
                {% if user.is_superuser or user.teacher.grade.Grade_Name == x.Grade_Name or user.student.Student_Grade.Grade_Name == x.Grade_Name %}
                <h1>{{x.Grade_Name}}</h1>
                    {% for y in subjects %}
                        {% if x == y.Subject_Grade %}
                        <h2>{{y.Subject_Type}}</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Name</th>
                                        <th>File</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for z in tests %}
                                    {% if z.Test_Subject.id == y.id %}
                                        <tr>
                                            <td>{{z.Test_Name}}</td>
                                            <td><a href="/media/{{z.Test_File}}" download={{z.Test_File}}>{{z.Test_File}}</a></td>
                                            <td>
                                                {% if user.is_superuser or user.teacher.grade.Grade_Name == x.Grade_Name %}
                                                <a href="{% url 'clasrum:test_update' z.id %}">
                                                    <i class="fas fa-edit color_update"></i>
                                                </a>
                                                {% endif %} | 
                                                {% if user.is_superuser %}
                                                <a href="{% url 'clasrum:test_delete' z.id %}">
                                                    <i class="fas fa-trash-alt color_delete"></i>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endfor %}
            
            <hr>

            {% else %}
                <p>No Results</p>
            {% endif %}
        </div>
    </div>
    <!--End Table Block-->
{% endblock %}
