{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
    Delete Test Score
{% endblock %}

{% block content_head %}
    <!--Title Block-->
    <div class="row mt-2">
        <div class="col-md-8 col-lg-10">
            <h2>¿Are you sure to delete <strong> {{testscore.TestScore_Score}}  {{testscore.TestScore_Test}}  {{testscore.TestScore_Student}}</strong> ? </h2>
        </div>
    </div>
    <!--End Title Block-->
{% endblock %}

{% block content_body %}
    {% bootstrap_messages %}
    <form class="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete"> | 
        <a href="{% url 'clasrum:testscore_list' %}" class="btn btn-light">Cancel</a>
    </form>
{% endblock %}