html {
  font-size: 17px;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-image: url(../images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-left: 50px;
  padding-right: 50px;
}

h1{
  color: #d2d2d2;
  background-color: #444;
  text-align:center;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

.tm-site-title{
  color: #444444;
  background-color: rgba(255, 255, 255, 0);
}

.table .thead-dark th{
  color: #d2d2d2;
}

p{
  color: #d2d2d2;
  background-color: #444;
  text-align:center;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

td{
  background-color: #e9ecefde;
}

tr{
  background-color: #e9ecefde;
}

h2{
  color: #000000;
  background-color: rgb(195, 255, 255);
  text-align:center;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

h3{
  color: #000000;
  background-color: rgb(195, 255, 255);
  text-align:center;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

.form-group{
  color: #d2d2d2;
  background-color: #343a40f2;
}

.form-group label{
  color: #d2d2d2;
  background-color: #343a40;
}

.navbar-brand img#logo {
  max-width:60px; 
}

.bg-dark{
  background-color: #ffffff2e;
}

.bg-dark-primary {
  background-color: #444!important;
  margin: 0;
  padding: 0;
}

.bg-dark-primary .container {
  color: #9a9793;
}
.bg-dark-primary .container p {
  width: 100%;
  text-align: right;
  margin-bottom: 0;
}
.bg-dark-primary .container a {
  color: #9a9793;
  text-decoration: none;
}
.bg-dark-primary .container a:hover {
  color: #FFF;
}

.pagination .page-link {
  z-index: 3;
  color: #fff;
  background-color: #FF9800;
  border-color: #FF9800;
}

.pagination .page-item.disabled .page-link {
  z-index: 3;
  color: #fff;
  background-color: #FF9800;
  border-color: #FF9800;
}

.pagination .page-item.active .page-link {
  z-index: 3;
  color: #000;
  background-color: #965900;
  border-color: #965900;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar {
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: #656565;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
  padding: 15px 20px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav a:hover {
  background-color: #e6e6e6;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1630px;
  }
}

@media (max-width: 1275px) and (min-width: 1200px) {
  .nav-item {
    margin-right: 15px;
  }
}

@media (max-width: 1350px) and (min-width: 1200px) {
  .tm-table-actions-row {
    display: block;
  }
  .tm-table-actions-col-right {
    margin-top: 30px;
  }
}

@media (max-width: 1350px) {
  .nav-item {
    margin-right: 1px;
  }
}

@media (max-width: 1199px) {
  .tm-col-big,
  .tm-col-small {
    width: 49.65%;
  }

  .navbar-collapse {
    background: white;
    padding: 15px;
    box-shadow: rgba(108, 117, 125, 0.27) 0px 1px 1px 0px;
    position: absolute;
    top: 77px;
    right: 20px;
    width: 245px;
    z-index: 1000;
  }

  .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-item {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .tm-col-big,
  .tm-col-small {
    width: 100%;
    min-height: 383px;
    height: auto;
  }
  .tm-block {
    padding: 30px;
  }

  .tm-table-actions-row {
    display: block;
  }

  .tm-table-actions-col-right {
    text-align: left;
    margin-top: 30px;
  }

  .tm-edit-product-row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 633px) {
  .pagination {
    flex-wrap: wrap;
  }

  .tm-pagination {
    justify-content: flex-start;
  }

  .tm-pagination-label {
    display: inline-block;
    margin-right: 0;
  }

  .page-item {
    margin-top: 10px;
  }
}

@media (max-width: 574px) {
  .navbar-collapse {
    top: 70px;
  }

  .tm-btn-right {
    text-align: left;
    margin-top: 20px;
  }

  .navbar {
    margin-top: 30px;
    height: auto;
  }

  body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tm-site-title {
    font-size: 1.4rem;
    margin-left: 7px;
  }

  .tm-site-icon {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .tm-mt-big {
    margin-top: 45px;
  }
}

@media (max-width: 424px) {
  .navbar-collapse {
    top: 107px;
  }
}