{% load static %}

<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'clasrum:home' %}">
        <img src="{% static 'images/logo_clasrum.png' %}" alt="Logo clasrum" id="logo" width="75" height="75">
        <h1 class="tm-site-title mb-0">CLASRUM</h1>
    </a>
    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">

            {% if user.student %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Tests
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'clasrum:mytestscores' %}">Scores</a>
                    <a class="dropdown-item" href="{% url 'clasrum:mytests' %}">Download</a>
                </div>
            </li>
            {% endif %}

            {% if user.student %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Guide
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'clasrum:guide_list' %}">Download</a>
                    {% if user.is_superuser or user.teacher %}
                    <a class="dropdown-item" href="{% url 'clasrum:guide_create' %}">Create</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}
            
            {% if user.is_active %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Teacher
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'clasrum:teacher_list' %}">List</a>
                    {% if user.is_superuser or user.teacher %}
                    <a class="dropdown-item" href="{% url 'clasrum:teacher_create' %}">Create</a>
                    {% endif %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Student
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'clasrum:student_list' %}">List</a>
                    {% if user.is_superuser or user.teacher %}
                    <a class="dropdown-item" href="{% url 'clasrum:student_create' %}">Create</a>
                    {% endif %}
                </div>
            </li>

            {% endif %}

            {% if user.is_superuser or user.teacher %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Grade
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'clasrum:grade_list' %}">List</a>
                    {% if user.is_superuser or user.teacher %}
                    <a class="dropdown-item" href="{% url 'clasrum:grade_create' %}">Create</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}

            {% if user.is_superuser or user.teacher %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Subject
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'clasrum:subject_list' %}">List</a>
                    <a class="dropdown-item" href="{% url 'clasrum:subject_create' %}">Create</a>
                </div>
            </li>
            {% endif %}

            {% if user.is_superuser or user.teacher %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Test
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'clasrum:test_list' %}">List</a>
                    <a class="dropdown-item" href="{% url 'clasrum:test_create' %}">Create</a>
                </div>
            </li>
            {% endif %}

            {% if user.is_superuser or user.teacher %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Test Scores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'clasrum:testscore_list' %}">List</a>
                    <a class="dropdown-item" href="{% url 'clasrum:testscore_create' %}">Create</a>
                </div>
            </li>
            {% endif %}

            {% if user.is_superuser or user.teacher %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Guide
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'clasrum:guide_list' %}">List</a>
                    {% if user.is_superuser or user.teacher %}
                    <a class="dropdown-item" href="{% url 'clasrum:guide_create' %}">Create</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}

            {% if user.is_active %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'auth:edit_user' %}">Edit Profile</a>
                    <a class="dropdown-item" href="{% url 'auth:change_pw' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'contacts:send_email' %}">Contact</a>
                </div>
            </li>
            {% endif %}

        </ul>

        <ul class="navbar-nav">
            {% if user.is_active %}
            <li class="nav-item">
                <a class="nav-link d-flex" href="{% url 'auth:logout' %}">
                    <i class="far fa-user mr-2 tm-logout-icon"></i>
                    <span>Logout</span>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link d-flex" href="{% url 'auth:login' %}">
                    <i class="far fa-user mr-2 tm-logout-icon"></i>
                    <span>Login</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>